<h1>Itucao</h1>
<p>Hi <%= @user.name %></p>
<p>
  Welcome
</p>
<%= link_to "激活", edit_account_activation_url(@user.activation_token, 
	                                             email: @user.email) %>