<% if @user.errors.any? %>
  <div id="error_explaination">
  	<div class="alert alert-danger">
  		这个表单包括 <%= pluralize(@user.errors.count, "error") %>。
  	</div>
  	<ul>
  		<% @user.errors.full_messages.each do |msg| %>
  		<li><%= msg %></li>
  		<% end %>
  	</ul>
  </div>
<% end %>